<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOGIN PAGE</title>
  <!-- axios CDN -->
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
  <form name="login">
    <label for="id">
      <span>์์ด๋ : </span><input type="text" name="id" required />
    </label>
    <br />
    <label for="pw">
      <span>๋น๋ฐ๋ฒํธ : </span><input type="password" name="pw" required />
    </label>
    <br />
    <button type="button" onclick="loginCheck1()">๋ก๊ทธ์ธ</button>
    <button type="button" onclick="loginCheck2()">๋ก๊ทธ์ธ</button>
  </form>
  <p class="p"> </p>
</body>
<script>
  function loginCheck1() {
    const form = document.forms['login'];
    const p = document.querySelector('p');

    if (!form.id.checkValidity() || !form.pw.checkValidity()) {
      p.textContent = '์์ด๋์ ๋น๋ฐ๋ฒํธ๋ ํ์๊ฐ์๋๋ค.';
      return;
    }

    const data = {
      id: form.id.value,
      pw: form.pw.value,
    };

    axios({
        method: 'post',
        url: '/user',
        data: data,
      })
      .then((res) => {
        console.log(res);
        if (res.data.isSuccess) {
          p.innerText = '๋ก๊ทธ์ธ ์ฑ๊ณต';
          p.style.color = 'blue';
        } else {
          p.innerText = '์์ด๋ ๋๋ ํจ์ค์๋ ์ค๋ฅ๐ข';
          p.style.color = 'red';
        }
      })
      .catch((err) => {
        err;
      });
  }

  function loginCheck2() {
    const form = document.forms['login'];
    const p = document.querySelector('p');

    if (!form.id.checkValidity() || !form.pw.checkValidity()) {
      p.textContent = '์์ด๋์ ๋น๋ฐ๋ฒํธ๋ ํ์๊ฐ์๋๋ค.';
      return;
    }

    const data = {
      id: form.id.value,
      pw: form.pw.value,
    };

    axios({
        method: 'post',
        url: '/user/check',
        data: data,
      })
      .then((res) => {
        console.log(res);
        // ์ฑ๊ณต
        if (res.data.isSuccess) {
          p.innerText = `${res.data.userInfo.id}๋ ํ์ํฉ๋๋ค.`;
          p.style.color = 'blue';
        } else {
          // ์คํจ
          p.innerText = '์์ด๋ ๋๋ ํจ์ค์๋ ์ค๋ฅ๐ข';
          p.style.color = 'red';
        }
      })
      .catch((err) => {
        err;
      });
  }
</script>

</html>